.App {
  text-align: center;
}

table {
  margin: 20px auto 60px auto;
  border: 1px solid black;
}

td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

th {
  padding: 10px;
}

.no-email {
  font-weight: bold;
}

.no-email-red {
  color: red;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
